---
- name: Install pre-requisites for the task
  pip:
    name: "pexpect==4.0.1"
    state: present
    virtualenv_site_packages: "{{ is_virtualenv }}"

- name: Check if the SDK tools are already installed
  stat:
    path: "{{ android_sdk_dir }}/platform-tools/adb"
  register: installed

- name: Download the SDK tools
  get_url:
    url: "{{ download_url }}"
    dest: "/tmp/{{ zip_name }}"
    checksum: "{{ sdk_checksum }}"
  when: not installed.stat.exists or force is defined

- name: Ensure install directory exists
  file:
    path: "{{ android_sdk_dir }}"
    state: directory
  when: not installed.stat.exists or force is defined

- name: Extract the SDK tools
  unarchive:
    src: "/tmp/{{ zip_name }}"
    dest: "{{ android_sdk_dir }}"
    creates: "{{ android_sdk_dir }}/tools"
    remote_src: "{{ remote_src }}"
  when: not installed.stat.exists or force is defined

- name: Add SDK tools to PATH
  blockinfile:
    marker: "# {mark} Android SDK tools Environment"
    dest: "{{ bashrc_location }}"
    content: |
      export ANDROID_SDK_ROOT={{ android_sdk_dir }}
      export NDK_PATH=$ANDROID_SDK_ROOT/ndk-bundle
      export PATH=$PATH:$ANDROID_SDK_ROOT/tools/bin
      export PATH=$PATH:$ANDROID_SDK_ROOT/platform-tools
    backup: yes

- name: Accept SDK licences
  expect:
    command: "{{ android_sdk_dir }}/tools/bin/sdkmanager --licenses"
    responses:
      'y/N': 'y'
  when: not installed.stat.exists or force is defined

- name: Install platform-tools and tools using sdkmanager
  expect:
    command: "{{ android_sdk_dir }}/tools/bin/sdkmanager {{ install_pkgs }}"
    responses:
      'y/N': 'y'
